#duo .row span.name {
    width: 0;
    flex-grow: 1;
    margin-right: 1rem;
    max-width: min-content;
    color: var(--muted);
}

#duo .row :where(span:not(.name):first-child, span:last-child) {
    width: 2rem;
    flex-shrink: 1;
    margin-right: 1rem;
}

#duo .row span:last-child {
    margin-right: 0;
    margin-left: 1rem;
    text-align: right;
}

#duo .row .inverse {
    width: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#duo .row .inverse input + label + label {
    flex-shrink: 1;
    padding-right: 0.5rem;
}

#duo .row .inverse input + label + label + label {
    opacity: 1;
}

#duo .row button {
    background-color: var(--inverse);
}

#duo .row button.plus {
    margin: 0 0.5rem;
}

#duo .row .duo {
    height: 1.25rem;
    flex-grow: 1;
    position: relative;
}

#duo .row input[type=range] {
    height: 1.25rem;
    background-color: var(--hover);
    border-radius: 100vh;
    flex-grow: 1;
}

#duo .row .duo input[type=range] {
    width: calc(100% - 1rem);
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
}

#duo .row .duo input[type=range]:first-child {
    background-color: transparent;
    z-index: 1;
}

#duo .row .duo input[type=range]:last-child {
    left: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@supports not (-moz-appearance: none) {
    #duo .row input[type=range]::-webkit-slider-thumb {
        width: 1.25rem;
        height: 1.25rem;
        border: 0.25rem solid var(--accent);
        box-shadow: -50vw 0 0 calc(50vw - 0.5rem) var(--accent);
        background-color: var(--background);
        pointer-events: all;
        border-radius: 50%;
    }

    #duo .row .duo input[type=range]:first-child::-webkit-slider-thumb {
        box-shadow: -50vw 0 0 calc(50vw - 0.5rem) var(--hover), -2rem 0 0 2rem var(--accent);
    }
}

@supports (-moz-appearance: none) {
    #duo .row input[type=range]::-moz-range-thumb {
        width: 1.25rem;
        height: 1.25rem;
        border: 0.25rem solid var(--accent);
        box-shadow: -50vw 0 0 calc(50vw - 0.5rem) var(--accent);
        background-color: var(--background);
        pointer-events: all;
        border-radius: 50%;
    }

    #duo .row .duo input[type=range]:first-child::-moz-range-thumb {
        box-shadow: -50vw 0 0 calc(50vw - 0.5rem) var(--hover), -2rem 0 0 2rem var(--accent);
    }
}
