#main {
    position: relative;
}

#main #steps {
    position: initial;
}

#top .name {
    visibility: hidden;
    z-index: 0;
}

#top-placeholder .name {
    z-index: 1;
}

#info {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    padding-bottom: 2rem;

    overflow-y: auto;
    scrollbar-width: 0;
    scroll-behavior: smooth;
    flex-direction: column;
    display: flex;
}

#info::-webkit-scrollbar {
    display: none;
}

#info span {
    color: var(--muted);
    font-weight: initial;
    white-space: initial;
}

#static-check:checked + #top-placeholder + #steps * {
    transition: none !important;
}

#top-placeholder + #steps #info #top .icon {
    transition: none !important;
}



/**/



#info .section {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

#info .section .top > * {
    transition-property: opacity, color;
    transition-duration: var(--transition);
}

#info > :not(:checked) + :not(:target) .top * {
    opacity: var(--opacity);
    color: var(--muted);
}

#info > :not(:checked) + .section:not(:target) {
    height: 3rem;
}

#info > :target label.top {
    display: none !important;
}

#info > .section:not(:target) a.top {
    display: none !important;
}

#info .section .top {
    height: 2rem;
    align-items: center;
    display: flex;
}

#info .section .top .icon {
    --size: 1.5rem;
    transform: none;
    margin-right: 0.5rem;
    background-color: var(--accent);
}

#info .section:is(#information, #general) .top .icon {
    background-color: var(--inverse);
}

#info .section .top span {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}

#info .section .bot {
    max-width: 30rem;
    padding-top: 0.5rem;
    flex-wrap: wrap;
    display: flex;
}

#info .section .bot label + label {
    width: calc(100% - 2rem);
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    line-height: 1.25rem;
    text-overflow: ellipsis;
    font-weight: initial;
    color: var(--muted);
}

#info .section .bot label + label a {
    color: var(--inverse);
    white-space: inherit;
}



/**/



#info .section .bot input + label {
    width: 1.5rem;
    height: 1.25rem;

    --mask-position: center;
    --mask-repeat: no-repeat;
    --mask-size: 1.5rem 1rem;
    --mask-image: url(/assets/icons/min.svg);
    background-color: var(--muted);

    mask-size: var(--mask-size);
    mask-image: var(--mask-image);
    mask-repeat: var(--mask-repeat);
    mask-position: var(--mask-position);
    -webkit-mask-size: var(--mask-size);
    -webkit-mask-image: var(--mask-image);
    -webkit-mask-repeat: var(--mask-repeat);
    -webkit-mask-position: var(--mask-position);
}

#info .section .bot input:checked + label {
    --mask-image: url(/assets/icons/plus.svg);
}

#info .section .bot input ~ label {
    transition: opacity, var(--transition);
}

#info .section .bot input:disabled + label {
    opacity: var(--opacity);
}

#info .section .bot input:checked ~ label {
    opacity: var(--opacity);
}

#info .section .bot input:not(:checked) + label + label {
    white-space: initial;
    opacity: 1;
}




/**/



#top .heads {
    scroll-snap-type: x mandatory;
    flex-shrink: 1;
    display: flex;
}

#top .head:last-child .icon { background-color: var(--muted); }

#information ~ #top .information .icon { background-color: var(--inverse); }

#general:target ~ #top .information .icon { background-color: var(--muted); }
#upload:target ~ #top .information .icon { background-color: var(--muted); }
#gray:target ~ #top .information .icon { background-color: var(--muted); }
#color:target ~ #top .information .icon { background-color: var(--muted); }
#duo:target ~ #top .information .icon { background-color: var(--muted); }
#save:target ~ #top .information .icon { background-color: var(--muted); }

#general:target ~ #top .general .icon { background-color: var(--inverse); }
#upload:target ~ #top .upload .icon { background-color: var(--accent); }
#gray:target ~ #top .gray .icon { background-color: var(--accent); }
#color:target ~ #top .color .icon { background-color: var(--accent); }
#duo:target ~ #top .duo .icon { background-color: var(--accent); }
#save:target ~ #top .save .icon { background-color: var(--accent); }
